<!DOCTYPE html>
<html lang="en">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Authors</title>
    <link rel="stylesheet" href="/navbar.css" type="text/css"/>
    <link rel="stylesheet" href="/viewall-layout&style.css" type="text/css"/>
</head>
<body>

<nav>
    <p  >Navigation  </p>
    <ul>

        <li> <a href="../">Home</a></li>

        <li><a href = "../hashtags/">All Tags</a></li>
        <li><a href = "../ipsumcategories/">All Categories</a></li>
        <li><a href = "../author/">All Authors</a></li>
        <li><a href = "../ipsumposts/">All Posts</a></li>

    </ul>
</nav>
<section class="view-all-container">
<ul>

    <li th:each="author: ${authors}">
        <a th:text="${author.authorName}"
           th:href="@{'../author/' + ${author.id}}">Category Name</a>
    </li>
</ul>
</section>
<section class ="add-new">
<form action="/author/add/" method="POST" class="new-author-form">
    <label>
        New Author
    </label>
    <input type="text" name="authorName" id = "authorName">
    <button type = "submit">submit</button>
</section>
</body>
</html>