<!DOCTYPE html>
<html lang="en">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Categories</title>
    <link rel="stylesheet" href="/navbar.css" type="text/css"/>
    <link rel="stylesheet" href="/viewall-layout&style.css" type="text/css"/>
</head>
<body>

<nav>
    <p>Navigation</p>
    <ul>

        <li> <a href="../">Home</a></li>

        <li><a href = "../hashtags/">All Tags</a></li>
        <li><a href = "../ipsumcategories/">All Categories</a></li>
        <li><a href = "../author/">All Authors</a></li>
        <li><a href = "../ipsumposts/">All Posts</a></li>

    </ul>
</nav>
<section class = "view-all-container">
    <ul class = "category-list">
        <li th:each="ipsumcategory: ${ipsumcategories}">
            <a class="categorylinks"
               th:href="@{'../ipsumcategories/' + ${ipsumcategory.categoryName}}">
                <span th:text="${ipsumcategory.categoryName}">Category name</span>
            </a>
        </li>
    </ul>
</section>
<section class = "add-new">
<form action="/ipsumcategories/add" method="POST" >
    <label >
        New Category:
    </label>
    <input type="text" name="categoryName" id = " ">
    <label>
        Description:
    </label>
    <input type="text" name = "description" id = " ">
    <button type = "submit">submit</button>
</form>
</section>
</body>
</html>