<!DOCTYPE html>
<html lang="en">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Hashtags</title>
    <link rel="stylesheet" href="/navbar.css" type="text/css"/>
    <link rel="stylesheet" href="/viewall-layout&style.css" type="text/css"/>
</head>
<body>

<nav>
    <p  >Navigation  </p>
    <ul>

        <li> <a href="../">Home</a></li>

        <li><a href = "../hashtags/">All Tags</a></li>
        <li><a href = "../ipsumcategories/">All Categories</a></li>
        <li><a href = "../author/">All Authors</a></li>
        <li><a href = "../ipsumposts/">All Posts</a></li>

    </ul>
</nav>

<section class = "view-all-container">
    <h2>Explore</h2>
    <h4>search by tag to find the filler text you NEED in your life</h4>
    <ul>
        <li th:each="hashtag: ${hashtags}"><a th:href="@{'../hashtags/' + ${hashtag.id}}"><span th:text="'#'+${hashtag.hashtagName}"></span></a></li>
    </ul>
</section>
</body>

</html>