<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ipsum Iterations</title>
    <link rel="stylesheet" href="/navbar.css" type="text/css"/>

</head>
<body>

<nav>
    <p  >Navigation  </p>
    <ul>

        <li> <a href="../">Home</a></li>

        <li><a href = "../hashtags/">All Tags</a></li>
        <li><a href = "../ipsumcategories/">All Categories</a></li>
        <li><a href = "../author/">All Authors</a></li>
        <li><a href = "../ipsumposts/">All Posts</a></li>

    </ul>
</nav>
<section class ="list-posts>
<h1 th:text="${ipsumPostToDisplay.ipsumName}"></h1>
<a th:href="@{'/author/' + ${ipsumPostToDisplay.author.id}}">
    <h2 th:text="${ipsumPostToDisplay.author.authorName}"></h2>
</a>

    <h3 th:text="${ipsumPostToDisplay.ipsumDescription}"></h3>
    <h3 th:text="${ipsumPostToDisplay.ipsumSample}"></h3>

</section>

<section class = "add-new">
<form action="/hashtags/add/" method="POST" class="new-hashtag-form">
    <label >
       New Hashtag
    </label>
    <input type="text" name="hashtagName" id = "hashtag">

    <input type="hidden" name = "ipsumName" th:value="${ipsumPostToDisplay.ipsumName}">
    <button type = "submit">submit</button>
</form>
</section>
<section>
    <ul>
        <li th:each="hashtag: ${ipsumPostToDisplay.hashtags}"><a th:href="@{'/hashtags/' + ${hashtag.id}}" th:text ="'#' + ${hashtag.hashtagName}"></a>
        <form action="/hashtags/remove" method="POST">
            <input type="hidden" name="hashtagName" th:value = "${hashtag.hashtagName}">
            <input type="hidden" name ="ipsumName" th:value="${ipsumPostToDisplay.ipsumName}">
            <button type="submit">X</button>
        </form>
        </li>
    </ul>
</section>
<form action="/ipsumposts/delete/" method="POST">
    <input type="hidden" name="ipsumName" th:value = "${ipsumPostToDisplay.ipsumName}" id ="" >
    <button type="submit">Delete This Post</button>
</form>
</body>
</html>