<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ipsum Iterations</title>

</head>
<body>

<nav>
    <ul>
        <li>
            <a href="../">Home</a>
        </li>
        <li th:each="ipsumcategory: ${ipsumcategories}">
            <a th:text="${ipsumcategory.categoryName}"
               th:href="@{'/ipsumcategories/' + ${ipsumcategory.categoryName}}">Category Name</a>
        </li>

    </ul>
</nav>
<h1 th:text="${ipsumPostToDisplay.ipsumName}"></h1>

<section>
    <h3 th:text="${ipsumPostToDisplay.ipsumDescription}"></h3>
    <h3 th:text="${ipsumPostToDisplay.ipsumSample}"></h3>
</section>
</body>
</html>